.rates {
    width: 100%;
    border-bottom: 1px solid #E3E9F0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    column-gap: 24px;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 900px) {
    .rates {
        padding-top: 6px;
    }
}