.btn_type_cancel {
    background-color: transparent;
    border: 1px #A0ABB5 solid;
    width: 122px;
    height: 56px;
    color: #374045;
}

@media screen and (max-width: 900px) {
    .btn_type_cancel {
        width: 312px;
    }
}