.btn_type_rates {
    background-color: #E65609;
    width: 130px;
    height: 56px;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .btn_type_rates {
        width: 312px;
        margin-bottom: 14px;
    }
}